<footer class="main-footer">
    <div class="container">
        <div class="pull-right hidden-xs">
            <b>V</b> 1.0.0
        </div>
        Powered by <strong><a href="#">CDS java Sodifrance </a></strong>© Le Mans 2018
    </div>
    <!-- /.container -->
</footer>