.item {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: white;
    display: block;
}
.list-pilote {
    min-height: 60px;
}
.titre-team {
    font-size: 2em;

}