.bg-green, .callout.callout-success, .alert-success, .label-success, .modal-success .modal-body {
    background-color: #3c8dbc !important;
}
.small-box {
    border-radius: 6px;
    text-align: center;
}

#logo-cube-small{
    height: 30px;
    width: auto;
    margin-right: 2px;
}

.item {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: white;
    display: block;
}
.list-pilote {
    min-height: 60px;
}
.titre-team {
    font-size: 2em;

}
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin-top: 150px;
    margin-bottom: 150px;
}

.p_breadcrumb {
    list-style: none;
    color: lightgrey;
    display: inline-block;
    padding: 15px 15px;
}
.p_breadcrumb > li {
    display: inline-block;
}
.p_breadcrumb > li:before{
    content: '\00A0\00A0\00A0/\00A0\00A0\00A0'
}
.p_breadcrumb a {
    color: white;
    font-style: normal;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.dt-center {
    text-align: center;
}
.dt-center >span {
    padding: 4px;
}