<h3>Bonjour {{ user }},</h3>

Vous venez de recevoir une invitation pour utiliser la plateforme <strong>QualityBox</strong>.

Rendez vous à l'adresse : <a href="{{ path('fos_user_registration_confirm', {'token': user.}) }}">localhost:8000/register</a> pour confirmer votre compte.

Renseignez votre mail ainsi que la clé d'invitation suivante:
<h4>{{ key }}</h4>